*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    background: rgb(228, 87, 87);
    padding: 15px 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 50px;
}
.nav-bar li{
    list-style: none;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.welcome-section{
    background: rgb(36, 35, 35);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    
}

.welcome-section p:nth-child(1){
    color: white;
    font-size: 45px;
    
}
.welcome-section p:nth-child(2){
    color: brown;
    font-size: 30px;

}
.projects{
    width: 100%;
    height: 50rem;
    background: rgb(89, 89, 179);
}
.projects header{
    font-size: 35px;
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
    width: 320px;
    margin: auto;
    padding: 2rem 0 0 0;
    

}
.project-boxes{
    column-width: 160px;
    column-count: 3;
    margin: 1.5rem auto;
    max-width: 60%;
   

}
.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6{
    height: 250px;
    border: 1px solid black;
    margin: 0 0 1rem 0;


}
.btn{
    display: flex;
    justify-content: center;
}
.projects .btn a {
    padding: 0.5rem 1rem;
    display: inline-block;
    background: black;
    color: white;
    text-decoration: none;
    

}
.footer{
    background: rgba(39, 39, 53, 0.911);
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
}
.footer header{
    
    font-size: 2.5rem;
    padding-top: 10rem;
}
.footer p{
    font-size: 1rem;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    
}
.icons{
    margin-top: 3em;
    font-size: 1.3rem;
   
}
.icons i{
    margin-left: 10px;
}

.last-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
    margin: 18em 0 0 8rem;
    
}
.last-text {
    position: relative; 
    margin-top: 5em; 
    
}

.last-text::before {
    content: '';
    position: absolute;
    top: -20px; 
    left: 0;
    width: 100vw; 
    height: 2px; 
    background-color: rgb(250, 8, 8); 
}



